* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #555;
}
section {
  margin-top: 40px;
}

h2 {
  margin-bottom: 10px;
  color: #34495e;
}

ul {
  list-style-type: disc;
  margin-left: 40px;
  text-align: left;
  display: inline-block;
}
